* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0%;
	font-family: serif;
	font-size: 30px;
	height: 1000px;
	background: linear-gradient(141deg, lightblue 10%, #2cb5e8 40%, dodgerblue 60%, blue 75%);
  }

  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

  .article {
    padding: 20px;
    text-align: center;
  }

  .button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: serif;
    margin: 10px 45%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3 {
    background-color:lightblue; 
    color: black; 
}

.button3:hover {
    background-color:darkred;
    color: white;
}